langchain
langchain_community
langchain_openai
langchain_core
langgraph
python-dotenv
pydantic
typing-extensions
python-magic
python-magic-bin
pdfkit
chromadb
unstructured
pymupdf4llm
openai
tiktoken
streamlit
pandas
numpy
# choco install wkhtmltopdf